*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 130px;
    background-size: cover;
}

.logo{
    height: 50px;
    width: 100%;
    background-image: url(assets/alogo5.png);
    background-size: cover;
}

.border{
    border:2px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

/* box2 */
.add-first{
    color: #CCCCCC;
    font-size: 0.8rem;
    margin-left: 20px;
}

.add-sec{
    font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 620px;
    /* background-color: pink; */
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 45px;
    height: 38px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    height: 38px;
    /* height: 100%; */
    border: none;
    font-size: 1rem;
}

.search-icon{
    height: 38px;
    width: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(247, 186, 64);
}

/* box4 */

span{
    font-size: 0.8rem;

}

.nav-second{
    font-size: 1rem;
    font-weight: 700;
}

/* box5 */
.nav-cart i{
    font-size: 28px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}